<template>
    <div class="container">
      <h1>Home</h1>
    </div>
</template>

<style scoped>
    input{
        border: 0;
        background: white;
        width: 100% !important;
        margin: 0;
    }
    table{
        background: white;
        margin: 0;
    }
    .wrap {
        width: 100%;
    }

    .wrap table {
        table-layout: fixed;
    }

    table tr td {
        padding: 5px;
        border: 1px solid #eee;
        width: 100px;
        word-wrap: break-word;
    }

    .inner_wrapper {
        height: 500px;
        overflow-y: auto;
    }

    table.footer{
        background: none;
        border: 0;
    }

    table.footer tr td{
        border: 0;
        text-align: left;
    }
</style>{ recordNo: '', date: '', documentType: '',accountCode: '', accountCategoryID: '', accountName: '',debitAmount:0, creditAmount:0 }

<script>
    export default {
        name: 'journal_entries',
        data() {
            return {
                projectName: "CCS SYSTEM",
                datas: [
                    { recordNo: '', date: '', documentType: '',accountCode: '', accountCategoryID: '', accountName: '',debitAmount:0, creditAmount:0 },
                    { recordNo: '', date: '', documentType: '',accountCode: '', accountCategoryID: '', accountName: '',debitAmount:0, creditAmount:0 },
                    { recordNo: '', date: '', documentType: '',accountCode: '', accountCategoryID: '', accountName: '',debitAmount:0, creditAmount:0 },
                    { recordNo: '', date: '', documentType: '',accountCode: '', accountCategoryID: '', accountName: '',debitAmount:0, creditAmount:0 },
                    { recordNo: '', date: '', documentType: '',accountCode: '', accountCategoryID: '', accountName: '',debitAmount:0, creditAmount:0 },
                    { recordNo: '', date: '', documentType: '',accountCode: '', accountCategoryID: '', accountName: '',debitAmount:0, creditAmount:0 },
                    { recordNo: '', date: '', documentType: '',accountCode: '', accountCategoryID: '', accountName: '',debitAmount:0, creditAmount:0 },
                    { recordNo: '', date: '', documentType: '',accountCode: '', accountCategoryID: '', accountName: '',debitAmount:0, creditAmount:0 },
                    { recordNo: '', date: '', documentType: '',accountCode: '', accountCategoryID: '', accountName: '',debitAmount:0, creditAmount:0 },
                    { recordNo: '', date: '', documentType: '',accountCode: '', accountCategoryID: '', accountName: '',debitAmount:0, creditAmount:0 },
                    { recordNo: '', date: '', documentType: '',accountCode: '', accountCategoryID: '', accaountName: '',debitAmount:0, creditAmount:0 },
                    { recordNo: '', date: '', documentType: '',accountCode: '', accountCategoryID: '', accountName: '',debitAmount:0, creditAmount:0 },
                    { recordNo: '', date: '', documentType: '',accountCode: '', accountCategoryID: '', accountName: '',debitAmount:0, creditAmount:0 }
                ],
                debitBalance: 0,
                creditBalance: 0
            }
        },
        methods: {
            addNewRow: function(){
                this.datas.push({ recordNo: '', date: '', documentType: '',accountCode: '', accountCategoryID: '', accountName: '',debitAmount: 0, creditAmount: 0 })
            },
            getAccountCode: function(generalRecord){
                console.log(generalRecord);
                axios.get('/accountcode/' + generalRecord.accountCode)
                .then(function (response) {
                    console.log(response);
                    generalRecord.accountName = response.data.account_name;
                    generalRecord.accountCategoryID = response.data.account_category_id;

                })
                .catch(function (error) {
                    console.log(error);
                    generalRecord.accountName = "Undefined";
                });
            },
            debitBalanceCal: function(){
                var debitAmounts = 0;
                this.datas.forEach(function(obj){
                    debitAmounts += parseFloat(obj.debitAmount);
                });
                this.debitBalance = debitAmounts;
            },
            creditBalanceCal: function(){
                var creditAmounts = 0;
                this.datas.forEach(function(obj){
                    creditAmounts += parseFloat(obj.creditAmount);
                });
                this.creditBalance = creditAmounts;
            },
            saveData: function(){
                var req = new Array();
                for(var i = 0 ; i < this.datas.length; i++) {
                    if(this.datas[i].date.length > 0 && this.datas[i].accountCode.length >0) {
                        req.push({
                            date : this.datas[i].date,
                            type_of_document_id: this.datas[i].documentType,
                            record_no: Date.now()+"/"+this.datas[i].documentType,
                            category_id: this.datas[i].accountCategoryID,
                            account_id: this.datas[i].accountCode,
                            credit_amount: this.datas[i].creditAmount,
                            debit_amount: this.datas[i].debitAmount
                        });
                        console.log(this.datas[i]);
                    }
                }
                axios.post('/generalrecord', {"generalRecords" : req })
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
            }
        }
    }
</script>
