<template>
    <div class="container">
        <h2>Account Chats</h2>
        <table class="table body">
            <tr>
               <td colspan="2">
                   Category ID
               </td>
            </tr>
            <tr>
                <td>Account Code</td>
                <td>Account Name</td>
            </tr>
            <tr v-for="data in accountCodes">
                <td><input type="text" class="input-sm" name="account_code" v-model="data.account_code"></td>
                <td><input type="text" class="input-sm" name="account_name" v-model="data.account_name"></td>
            </tr>
        </table>
    </div>
</template>

<style scoped>
    input{
        border: 0;
        background: white;
        width: 100% !important;
        margin: 0;
    }
    table{
        background: white;
        margin: 0;
    }
    .wrap {
        width: 100%;
    }

    .wrap table {
        table-layout: fixed;
    }

    table tr td {
        padding: 5px;
        border: 1px solid #eee;
        width: 100px;
        word-wrap: break-word;
    }

    .inner_wrapper {
        height: 500px;
        overflow-y: auto;
    }

    table.footer{
        background: none;
        border: 0;
    }

    table.footer tr td{
        border: 0;
        text-align: left;
    }
</style>
<script>
    export default {
        name: 'account_charts',
        data() {
            return {
                projectName: "CCS SYSTEM",
                accountCodes: []
            }
        },
        methods: {
            getAllCodes(){
                const vm = this;
                axios.get('/accountcode')
                        .then(function (response) {
                            response.data.map(function(val){
                               vm.accountCodes.push({
                                   account_code: val['account_code'],
                                   account_category_id: val['account_category_id'],
                                   account_name: val['account_name']
                               });
                            });
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
            }
        },
        mounted: function(){
            this.getAllCodes();
        }
        }
</script>
